<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0"> 
      
  <servlet>
   <display-name>Console</display-name>
   <servlet-name>Console</servlet-name>
   <servlet-class>org.koiroha.jyro.webapp.ConsoleServlet</servlet-class>
   <init-param>
     <param-name>jyro.home</param-name>
     <param-value>../build/sample/home</param-value>
   </init-param>
   <load-on-startup>1</load-on-startup>
 </servlet>

 <servlet-mapping>
   <servlet-name>Console</servlet-name>
   <url-pattern>/console</url-pattern>
 </servlet-mapping>

</web-app>